<div class="main-panel">
	<nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                  <button mat-raised-button color="primary"
                  matBadge="8" matBadgePosition="before" matBadgeColor="warn" (click)="addUser(0)" >
                  Add Client
                  </button>
                 
                </div>
            </div>
        </nav>	
        
        <div class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12 mx-auto">
                  <div class="card border-0  booking-sec-new">
                  	  <div class="filter-sec">
                  	  	
                  	  </div>	
                      <div class="card-body" >
                        <div class="mat-elevation-z8"> 
                          <!-- <mat-table [dataSource] = "tableData">
                            <ng-container matColumnDef="name">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>
                          </mat-table> -->
                        </div>
                      	 
                         <div class="table-responsive"  >
                           <h1>Clients</h1>
                           <div class="alert alert-primary" role="alert"  *ngIf="data">
                            {{data.userMessage}}
                           </div>
                         	<table class="table table-striped" >
                               <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th style="text-align: left!important;;">Name</th>
                                    <th  style="text-align: left!important;;" scope="col">Surname</th>
                                    <th  style="text-align: left!important;;" scope="col">Email</th>
                                    <th  style="text-align: left!important;;" scope="col">Action</th>
                                  </tr>
                                </thead>
                                <div  *ngIf="tableData.length == 0">
                                  <h3>
                                    No record found
                                  </h3>
                                </div>
                                <tbody *ngIf="tableData.length > 0">
                                    <tr *ngFor="let eData of tableData index as i">
                                    <th scope="row">{{ i + 1 }}</th>
                                    <td>
                                    {{ eData.name }}
                                    </td>
                                    <td>{{ eData.surname }}</td>
                                    <td>{{ eData.email }}</td>
                                    <td>
                                      <button mat-raised-button color="primary"
                                        matBadge="8" matBadgePosition="before" matBadgeColor="accent"  (click)="editUser(eData.id)">
                                        Edit
                                    </button>&nbsp;&nbsp;
                                    <button mat-raised-button color="warn"
                                        matBadge="8" matBadgePosition="before" matBadgeColor="warn"  (click)="deleteUser(eData.id)">
                                      Delete
                                    </button>
                                  </td>
                                  </tr>
                               </tbody>
                           </table>
                         </div>
                      </div>
                  </div>
              </div>
             </div>
          </div>
      </div>
  </div>