<div mat-dialog-content>
   <h4>Are you sure to delete?</h4>
</div>

<div mat-dialog-actions>
    <button (click)="confirmDelete()" mat-raised-button color="primary"
    matBadge="8" matBadgePosition="before" matBadgeColor="warn" >
     Delete It
    </button>
    <button (click)="cancelConfirm()"  mat-raised-button color="warm"
    matBadge="8" matBadgePosition="before" matBadgeColor="warn" >
     Cancel
    </button>
    
</div>
