<h1 mat-dialog-title>Create New Client</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="userName">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Surname</mat-label>
        <input matInput [(ngModel)]="userSurname">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="userEmail">
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button (click)="submitUser()" mat-raised-button color="primary"
                  matBadge="8" matBadgePosition="before" matBadgeColor="warn" >
                  {{this.labelButton}}
    </button>
</div>
